<div class="ui middle aligned selection divided list">
  <ng-container *ngIf="books$ | async as books">
    <app-book-list-item *ngFor="let book of books"
                        [book]="book"
                        [routerLink]="book.isbn"
                        class="item"></app-book-list-item>

    <p *ngIf="!books.length">
      Es wurden noch keine Bücher eingetragen.
    </p>
  </ng-container>

  <ng-template #loading>
    <div class="ui active dimmer">
      <div class="ui large text loader">Daten werden geladen...</div>
    </div>
  </ng-template>
</div>
