<form [formGroup]="bookForm" (ngSubmit)="submitForm()" class="ui form">
  <label>Buchtitle</label>
  <input formControlName="title" />
  <app-form-messages [control]="bookForm.get('title')" controlName="title"></app-form-messages>

  <label>Untertitle</label>
  <input formControlName="subtitle" />

  <label>ISBN</label>
  <input formControlName="isbn" />
  <app-form-messages [control]="bookForm.get('isbn')" controlName="isbn"></app-form-messages>

  <label>Erscheinungsdatum</label>
  <input type="date" formControlName="published" useValueAsDate />
  <app-form-messages [control]="bookForm.get('published')" controlName="published"></app-form-messages>

  <label>Autoren</label>
  <button type="button" class="ui mini button" (click)="addAuthorControl()">
    + Autor
  </button>
  <div class="fields" formArrayName="authors">
    <div class="sixteen wide field" *ngFor="let c of authors.controls; index as i">
      <input placeholder="Autor" [formControlName]="i" />
    </div>
  </div>
  <app-form-messages [control]="bookForm.get('authors')" controlName="authors"></app-form-messages>

  <label>Beschreibung</label>
  <textarea formControlName="description"></textarea>

  <label>Bilder</label>
  <button type="button" class="ui mini button" (click)="addThumbnailControl()">
    + Bild
  </button>
  <div formArrayName="thumbnails">
    <div class="fields" *ngFor="let c of thumbnails.controls; index as i" [formGroupName]="i">
      <div class="nine wide field">
        <input formControlName="url" placeholder="URL">
      </div>
      <div class="seven wide field">
        <input formControlName="title"  placeholder="Titel">
      </div>
    </div>
  </div>

  <button class="ui button" type="submit" [disabled]="bookForm.invalid">
    Speichern
  </button>
</form>
